extensions:
  health_check:
receivers:
  prometheus:
    config:
      scrape_configs:
        - job_name: 'din-caddy-metrics-collector'
          scrape_interval: 60s #default 60s
          static_configs:
            - targets: ['din-caddy:2019'] ##TODO: Needs to be updated with the actual docker container name
  otlp:
    # https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/otlpreceiver
    protocols:
      grpc:
      http:
        cors:
          allowed_origins:
            - "http://*"
            - "https://*"

processors:
  batch:
    # https://github.com/open-telemetry/opentelemetry-collector/tree/main/processor/batchprocessor

exporters:
  otlp:
    endpoint: "ingest.us.signoz.cloud:443"
    timeout: 30s
    tls:
      insecure: false
    headers:
      "signoz-access-token": ""
  logging:
    verbosity: detailed

service:
  pipelines:
    metrics:
      receivers: [prometheus]
      processors: [batch]
      exporters: [otlp]
  telemetry:
    metrics:
      level: detailed
      address: ':8888'
